---
component: content
---
<div class="section section_home active" data-section-name="home">{{> home}}</div>
<div class="section section_about" data-section-name="about">{{> about}}</div>
<div class="section section_contact" data-section-name="contact">{{> contact}}</div>