---
component: header
---
<header>
  <img class="title" src="/assets/images/text/heading-trolls_revealed@2x.png" alt="Trolls revealed" width="574" height="57">
  <nav>
    <a class="active" href="#">home</a>
    <a href="#">about</a>
    <a href="#">contact</a>
  </nav>
</header>