---
component: nav
---
<nav>
  <a class="section-switch" href="#" data-for="home">home</a>
  <a class="section-switch" href="#" data-for="about">about</a>
  <a class="section-switch" href="#" data-for="contact">contact</a>
</nav>