---
component: social_media_links
---
<div class="social_media">
  <a class="icon_twitter" href="{{ links.twitter }}">
    <img src="/assets/images/icons/twitter.png" alt="Twitter" width="44" height="44">
  </a>
  <a class="icon_facebook" href="{{ links.facebook }}">
    <img src="/assets/images/icons/facebook.png" alt="Facebook" width="44" height="44">
  </a>
  <a class="icon_instagram" href="{{ links.instagram }}">
    <img src="/assets/images/icons/instagram.png" alt="Instagram" width="44" height="44">
  </a>
</div>