<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ package.title }}</title>
  {{> stylesheets}}
  <!--[if lt IE 9]>
      <script src="/assets/vendor/html5shiv/src/html5shiv.js"></script>
  <![endif]-->
</head>
<body>

  {{> social_media_links}}
  <img id="troll_img" src="/assets/images/troll.png" alt="Troll" width="345">

  <div class="container">
    {{> header}}
    {{> body}}
  </div>

  {{> javascripts}}
  
</body>
</html>