---
component: about
---
<h1>About Trolls Revealed</h1>
<p>Internet Trollers are offensive individuals who enjoy causing conflict by posting incendiary comments online. Behind their computer screens, Internet Trollers can anonymously post racist or violent comments with the intent of causing pain or throwing a normal conversation off topic. Trolls can be found across the world wide web. Be it on Youtube, Facebook, Twitter, or wherever online users interact with each other, Trollers are never far, lurking and ready to start a flame war.</p>
<p><strong>Trolls</strong> is an investigative documentary exposing the &ldquo;truth&rdquo; behind Internet Trolling. No longer will they be able to hide behind the computer screen.</p>