---
component: contact
---
<h1>Contact Us</h1>
<a href="{{ links.email }}" class="heading-2">info@trollsrevealed.com</a>
<ul>
  <li>
    <a target="_blank" href="{{ links.twitter }}">
      <img src="/assets/images/icons/twitter.png" alt="Facebook" width="20" height="20">
      <span>Troll us on Twitter</span>
    </a>
  </li>
  <li>
    <a target="_blank" href="{{ links.facebook }}">
      <img src="/assets/images/icons/facebook.png" alt="Facebook" width="20" height="20">
      <span>Troll us on Facebook</span>
    </a>
  </li>
  <li>
    <a target="_blank" href="{{ links.instagram }}">
      <img src="/assets/images/icons/instagram.png" alt="Facebook" width="20" height="20">
      <span>Troll us on Instagram</span>
    </a>
  </li>
</ul>