@font-face {
    font-family: 'solomon_normal';
    src: url('/assets/fonts/solomon_normal/solomon_normal-webfont.eot');
    src: url('/assets/fonts/solomon_normal/solomon_normal-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/solomon_normal/solomon_normal-webfont.woff') format('woff'),
         url('/assets/fonts/solomon_normal/solomon_normal-webfont.ttf') format('truetype'),
         url('/assets/fonts/solomon_normal/solomon_normal-webfont.svg#solomon_normalregular') format('svg');
    font-weight: normal;
    font-style: normal;
}