@font-face {
    font-family: 'solomon_normalregular';
    src: url('solomon_normal-webfont.eot');
    src: url('solomon_normal-webfont.eot?#iefix') format('embedded-opentype'),
         url('solomon_normal-webfont.woff') format('woff'),
         url('solomon_normal-webfont.ttf') format('truetype'),
         url('solomon_normal-webfont.svg#solomon_normalregular') format('svg');
    font-weight: normal;
    font-style: normal;
}