@import "fonts";

@mixin opacity($opacity) {
  opacity: $opacity;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=#{$opacity*100})";
}

html, body {
  min-height: 100%;
}

a {
  color: #fff;
  text-decoration: none;
  transition: opacity .2s;
}

body {
  background: {
    attachment: fixed;
    color: #000;
    image: url(/assets/images/bg_grunge.jpg);
    position: center center;
    repeat: no-repeat;
    size: cover;
  }
  color: #fff;
  font-family: "solomon_normal";
  margin: {
    bottom: 104px;
    top: 40px;
  }
}

#troll_img {
  position: fixed;
  right: 30px;
  bottom: 0;
}

.container {
  position: relative;
  margin: {
    left: 40px;
    right: 345px;
  }
}

header {
  margin-bottom: 50px;
  .title {
    display: block;
    position: relative;
    margin-bottom: 12px;
  }
  nav {
    overflow: hidden;
    font-size: 32px;
    a {
      margin-right: 16px;
      @include opacity(.4);
      float: left;
      &.active, &:hover {
         @include opacity(1);
      }
    }
  }
}

.social_media {
  position: fixed;
  bottom: 40px;
  left: 40px;
  overflow: hidden;
  a {
    @include opacity(.7);
    float: left;
    margin-right: 8px;
    img { vertical-align: top; }
    &:hover {
       @include opacity(1);
    }
  }
}